*{
    margin: 0;
    padding: 0;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* common styles */
.btn{
    background-color: #30B868;
    padding: 12px 16px;
    color: rgb(255, 255, 255);
    line-height: 19px;
    font-weight: 600;
    text-align: left;
    border: none;
    border-radius: 5px;
    align-items: center;
    align-content: center;
}

.banner-btn button img , .challenge-content button img , .SB-container .SB-content p.points img{
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

/* Main styles */
/* nav bar styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
nav .logo{
    width: 139px;
    height: 60px;
}
.menu ul{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.menu ul li{
    font-size: 16px;
    font-weight: 500;
    color: #000000;

}

/* banner styles */
.banner-container{
    background: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content{
    width: 1360px;
    margin: 0 auto;
    padding: 155px 341px 155px 341px;
}
.banner-content .banner-text{
    text-align: center;
}
.banner-content .banner-text #highlighter{
    width: 229px;
    border-radius: 1000px;
    margin: 0 auto;
    background: #FFFFFF;
    color: #30B868;
    font-weight: 500;
    line-height: 19px;
    padding: 8px 0 8px;
}
.banner-content .banner-text h1{
    width: 770px;
    font-size: 72px;
    margin: 0 auto;
    color: #30B868;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
    padding: 16px 0 16px;
}
.banner-content .banner-text h1 span{
    color: #FFFFFF;
}
.banner-content .banner-text p{
    width: 770px;
    margin: 0 auto;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 0 8px;

}
.banner-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-top: 32px;
    margin-bottom: 180px;

}
.btn-2{
    background-color: transparent;
    padding: 12px 16px;
    color: rgb(255, 255, 255);
    line-height: 19px;
    font-weight: 600;
    text-align: left;
    border: 1px solid white;
    border-radius: 5px;
}

/* Notes section Style */
.note-container, .note-heading{
    width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.note-heading h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    padding-top: 30px;
}
.note-heading p{
     font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 16px;;
}

.card-box{
    display: flex;
    gap: 24px;
    padding-top: 44px;

}
.card-box .card{
    width: 322px;
    height: 300px;
    align-items: center;
    border-radius: 8px;
    padding: 24px;
    align-content: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card-box .card img{
    background: rgba(249, 85, 85, 1);
    border-radius: 1000px;
    padding: 10px;

}
.card-box .card h4{
    padding-top: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;


}
.card-box .card p{
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* second brain style */
.SB-container{
    width: 1360px;
    display: flex;
    align-items: center;
    padding: 120px;
    background: rgba(255, 255, 255, 1);
    margin: 0 auto;
    gap: 60px;
}

/* .SB-container .SB-content{
    align-items: center;
} */
p#Solution {
    color: #30B868;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px;

}
.SB-container .SB-content h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.SB-container .SB-content p#description{
    color: #627382;
    line-height: 20px;
    text-align: left;
    margin-bottom: 40px;
}
.SB-container .SB-content p.points{
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}